.tokensContainer{
    background-image: url(../../assets/table.png);
    padding:120px;
    background-repeat: no-repeat;
    background-size: 100%;
    width:100%;
    border-bottom: none;
    font-family: 'Roboto', sans-serif;
    transition: all 2s ease;
    &__tokens{
        display: flex;
        justify-content: center;
        width:100%;
        position:absolute;
        transform: translatex(-120px);
    }
    &__closetokens{
        width:85px;
        padding: 0 10px;
        position: absolute;
        top:-250px;
        left:500px;
        transition:all 2s ease;
    }
    &__token{
        width:85px;
        padding: 0 20px;
        transition:all 2s ease;
        &:first-child{
            transform: translatey(-40px);
        }
        &:nth-child(2){
            transform: translatey(-20px);
        }
        &:nth-child(6){
            transform: translatey(-20px);
        }
        &:nth-child(7){
            transform: translatey(-40px);
        }
        &:hover{
            cursor: pointer;
        }
        
    }
    &__tokenMove{
        transition:all 2s ease;
        width:85px;
        padding: 0 10px;
        position: absolute;
        top:-200px;
        left:530px;
    }
    &__tokenslist{
        position: absolute;
        
    }
}
